    <footer class="footer bg-blue3">
        <div class="container-fluid h-100 py-4">
            <div class="row">
                <div class="col text-center d-flex flex-column">
                    <div class="titleFooter pt-3 h2">Contact</div>
                    <div class="p-3"><a href="#">0751653387</a></div>
                    <div class="p-3"><a href="#">jordan.moulin@laposte.net</a></div>
                    <div class="p-3"><a href="#">Formulaire de contact</a></div>
                </div>
                <div class="col text-center d-flex flex-column">
                    <div class="titleFooter pt-3 h2">Site</div>
                    <div class="p-3"><a href="#">Se connecter</a></div>
                    <div class="p-3"><a href="#">S'inscrire</a></div>
                    <div class="p-3"><a href="#">Mes projets</a></div>
                </div>
                <div class="col text-center d-flex flex-column">
                    <div class="titleFooter pt-3 h2">A propos</div>
                    <div class="p-3"><a href="#">Mentions légales</a></div>
                    <div class="p-3"><a href="#">Historique</a></div>
                    <div class="p-3"><a href="#">Mon CV</a></div>
                </div>
            </div>
        </div>
    </footer>