<nav class="navbar navbar-expand-lg bg-blue container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand title-navbar" href="#">MOULIN Jordan</a>
        <ul class="d-flex mb-0 menu-navbar">
            <li>
                <a class="nav-link" href="#">
                    Accueil
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    Projets
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    Maquettage
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Mon profil
                </a>
                <ul class="dropdown-menu dropdown-menu-blue " aria-labelledby="navbarDarkDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Connexion</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Inscription</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>