{% extends 'base.html.twig' %}

{% block title %}Mon Portfolio{% endblock %}

{% block body %}
<section class="filterContainer">
    <div class="filter">
        <div class="h-100 w-100 d-flex justify-content-center align-items-center">
            <h1>Portfolio</h1>
        </div>
    </div>
</section>
 <div class="jumbotron text-center bg-blue3">
            <div class="pb-5 pt-3 display-3 white1 ">Mes projets</div>
</div>
<div class="d-flex bg-blue3 mb-5">
    <div class="separatorBlank"></div>
    <div class="prev h1 d-flex align-items-center white1" id="prev"><i class="fa-solid fa-angle-left"></i></div>
    <div class="container py-3">  
        <div class="row js-slick-carousel">
            <div class="col">
                <div class="card mx-2">
                    <img class="aspect-16to9 card-img-top" src="{{asset('build/images/exo1.PNG')}}" alt="" />
                    <div class="card-body p-16to9">
                        <div class="card-body-content">
                            <h5 class="card-title">Liens exercice 1 :</h5>
                            <p class="card-text m-0">
                            <div class="row h-100">
                                <div class="col d-flex justify-content-center align-items-center"><a href="#" class="btn"><i class="fa-brands fa-github h1"></i></a></div>
                                <div class="col d-flex justify-content-center align-items-center"><a href="#" class="btn"><i class="fa-solid fa-link h1"></i></a></div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-2">
                    <img class="aspect-16to9 card-img-top" src="https://via.placeholder.com/1000x560" alt="" />
                    <div class="card-body p-16to9">
                        <div class="card-body-content">
                            <h5 class="card-title">Liens exercice 2 :</h5>
                            <p class="card-text m-0">
                            <div class="row h-100">
                                <div class="col d-flex justify-content-center align-items-center"><a href="#" class="btn"><i class="fa-brands fa-github h1"></i></a></div>
                                <div class="col d-flex justify-content-center align-items-center"><a href="#" class="btn"><i class="fa-solid fa-link h1"></i></a></div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next h1 d-flex align-items-center white1" id="next"><i class="fa-solid fa-angle-right"></i></div>
    <div class="separatorBlank"></div>
</div>
<section class="presentationContainer container-fluid whitesmokeColor">
    <div class="row h-100">
        <div class="col-sm-4">
            <div class="shape">
                <div class="filter2"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="h1 text-center py-5">
                Maquettage
            </div>
            <div class="w-100 d-flex justify-content-center">
                <img src="{{asset("build/images/Maquettage.jpg")}}" alt="maquettage" class="imageResize">
            </div>
        </div>
    </div>
</section>
<section class="mediaContainer bg-blue2">
    <div class="h2 text-center pt-5">Réseaux sociaux </div>
    <div class="social-menu d-flex justify-content-center py-5">
        <ul class="d-flex w-50 justify-content-around h1">
            <li><a href="#" target="blank" class="d-flex justify-content-center align-items-center"><i
                        class="fab fa-github"></i></i></a></li>
            <li><a href="#" target="blank" class="d-flex justify-content-center align-items-center"><i
                        class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="blank" class="d-flex justify-content-center align-items-center"><i
                        class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#" class="d-flex justify-content-center align-items-center"><i class="fab fa-codepen"
                        target="blank"></i></a></li>
        </ul>
    </div>
</section>
{% endblock %}